* {
    box-sizing: border-box;
    line-height: 1.25em;
}
div {
    display: block;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Montserrat",sans-serif;
    background-color: #e0e0e7;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root{
padding: 0px;
min-width: 50%;
}

#place_search{
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid black ;
    max-width: 70%;
}
#place_search #search_form label{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
}
#place_search #search_form .search_input{
    margin-top: 1rem;
    min-width: 50%;
    max-width: 70%;
    padding: 6px;
    border-radius: 5px;
}
#container{
    max-width: 80%;
    margin-top: 5px;
    padding: 5px;
    background-color: #37a19a;
    border-radius: 5px;
    min-height: 349.2px;
}
.displayinfo{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#container .weather_gradient {
    text-align: center;
}
#container .weather_gradient .date_container .date_time{
    display: block;
}
